// Place all the styles related to the Devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navigation_font_size: 30pt;

div.user-data {
  display: block;
  margin-bottom: 1em;
  margin: 0px;
  padding: 0px;

  p {
    display: inline;
    color: #333;
  }

  form {
    display: inline;

    input#logout-button {
      text-decoration: none;
      text-align: center;
      padding: 0px;
      color: #333;
      border: 1px solid #333;
      font-size: #{$navigation_font_size - 2};
    }
  }
}

$navigation_height: 72px;

ul#navigation-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 5px 0px 10px;
  padding: 0px;
  height: $navigation_height;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  font-size: $navigation_font_size;
  font-weight: bold;

  li {
    width: 90%;
    height: auto;
    margin: 5px;
    text-align: center;
  }

  a {
    color: #666;
    text-decoration: none;
  }
}

ul.device-list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  list-style-image: none;
  margin: 5px 0px 5px 0px;

  li {
    position: relative;
    display: block;
    padding: 5px 0px 5px 30px;
    color: #444;
  }

  li:after {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 7px;
    left: 5px;
    background: #999;
    border-radius: 10px;
  }
}

div.new-device {
  div {
  }
}

body {
  background-image: asset-url("speed_boy_delivery_bg.png");
  background-repeat: no-repeat;
  background-position: top #{$navigation_height + 30} center;
  background-color: #EEE;
}
